<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button color='light'></ion-back-button>
      </ion-buttons>
      <ion-title>  <ion-text color="light"><span style="font-size:22px"><strong> Modifica password </strong></span></ion-text> </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content >
  <ion-card color = "light">

      <div padding>
          <ion-text color="dark" no-margin span style="font-size:18px"><strong>
            Utilizza il modulo qui di seguito per modificare la password del tuo account</strong>
          </ion-text>
        </div>
  
    <ion-grid fixed no-padding>
      <ion-row>
        <ion-col size="12" padding>

          <ion-list margin-bottom>
            
            <ion-item>
                <ion-label color="dark" position="stacked"><span style="font-size:18px"><strong>Indirizzo email:</strong></span></ion-label>
                <ion-input inputmode="email" placeholder="Indirizzo email" [(ngModel)]="mail"></ion-input>
            </ion-item>
    
            <ion-item>
                <ion-label color="dark" position="stacked"><span style="font-size:18px"><strong>Nuova password:</strong></span></ion-label>
              <ion-input inputmode="text" placeholder="Nuova password" [(ngModel)]="nuova_password"></ion-input>
            </ion-item>
    
          </ion-list>
  
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="sendData()" >
        <ion-icon name="create"></ion-icon>
        Salva modifiche
      </ion-button>  </ion-card>
  
</ion-content>