:host {

    ion-content {
        --background: var(--ion-color-light);
    }

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card {
        &.no-radius {
            border-radius: 0;
        }
    }
}

.profile {
    ion-card {
      width: 100%;
      border-radius: 0;
      background-color: rgb(255, 255, 255);
      ion-card-content {
        padding: 32px;
        background-color: var(--ion-color-primary);
        color: rgb(158, 52, 52);
        text-align: center;
  
        img {
          height: 128px;
          width: 128px;
          border-radius: 50%;
          border: solid 4px #fff;
          display: inline;
          box-shadow: 0 0 28px rgba(255,255,255, .65);
        }
  
        h1 {
          margin-top: .5rem;
        }
      }
    }
  
    ion-item {
      ion-input {
        border-bottom: 1px solid var(--ion-color-tertiary);
      }
    }
  
    ion-buttom {
      button {
        margin: 0;
      }
    }
  }
