<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-round-back" color="light" defaultHref="about"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light"><span style="font-size:22px"><strong> Modifica scadenza </strong></span></ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light">


    <ion-grid fixed no-padding>
      <ion-row>
        <ion-col size="12" padding>

          <div *ngIf="scadenza != null">
            <div *ngFor="let item of scadenza">
              <div *ngIf="item.codice_scadenza == codicePassato">

                <ion-list margin-bottom>

                  <ion-item>
                    <ion-label color="dark" position="stacked"><span style="font-size:18px"><strong>Descrizione
                        </strong></span>
                    </ion-label>
                    <ion-input inputmode="text" [(ngModel)]="nome" placeholder=" {{item.nome}}" value=""></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label color="dark" position="stacked"><span style="font-size:18px"><strong>Data di
                          ricezione</strong></span></ion-label>
                    <ion-input inputmode="text" [(ngModel)]="data_ricezione" placeholder="{{item.data_ricezione}}" value="">
                    </ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label color="dark" position="stacked"><span style="font-size:18px"><strong>Data di
                          scadenza</strong></span>
                    </ion-label>
                    <ion-input inputmode="text" [(ngModel)]="data_scadenza" placeholder="{{item.data_scadenza}}">
                    </ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label color="dark" position="stacked"><span
                        style="font-size:18px"><strong>Periodo</strong></span>
                    </ion-label>
                    <ion-input inputmode="numeric" [(ngModel)]="periodo" placeholder="{{item.periodo}}"></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label color="dark" position="stacked"><span
                        style="font-size:18px"><strong>Importo</strong></span>
                    </ion-label>
                    <ion-input inputmode="decimal" [(ngModel)]="importo" placeholder="{{item.importo}}"></ion-input>
                  </ion-item>

                </ion-list>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div>
      <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="modify()">
        <ion-icon name="create"></ion-icon>
        Modifica
      </ion-button>
    </div>
  </ion-card>


</ion-content>