<ion-list no-padding no-margin>
  <ion-list-header color="dark">
    <ion-label class="fw700">Info</ion-label>
  </ion-list-header>

  <ion-item color="primary" class="text-10" href="https://github.com/MrJo1996/FrontSL">
    <ion-icon name="logo-github" color="light"></ion-icon>
    <ion-label>&nbsp;Repository GitHub</ion-label>
  </ion-item>

  <ion-item color="light" class="text-10" href="https://biteable.com/watch/mobile-app-ad-copy-2282308">
    <ion-icon name="videocam" color="primary"></ion-icon>
    <ion-label>&nbsp;Demo App</ion-label>
  </ion-item>

  <ion-item color="light" class="text-10" href="https://www.facebook.com/Simply-Life-286933755564763/">
    <ion-icon name="logo-facebook" color="primary"></ion-icon>
    <ion-label>&nbsp;Pagina Facebook</ion-label>
  </ion-item>

</ion-list>