<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color='light'></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light"><span style="font-size:22px"><strong> Visualizza scadenze </strong></span></ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="goToVisualizzaCategorie()">
      <ion-icon name="eye"></ion-icon>
      Visualizza scadenze per categoria
    </ion-button>

    <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="visualizzaScadenzePerData()">
      <ion-icon name="eye"></ion-icon>
      Visualizza scadenze per data
    </ion-button>
  </div>

  <div *ngIf="scadenze_data != null">
    <ion-card class="bg-white">
      <h6>Lista Scadenze:</h6>
      <div *ngFor="let item of scadenze_data">
        <ion-item expanded="full">
          <br>
          Nome: {{item.nome}}<br>
          Importo: {{item.importo}}<br>
          Data Scadenza: {{item.data_scadenza}} <br>
          Data Ricezione: {{item.data_ricezione}}<br>
          Periodo: {{item.periodo}}<br>
          <br>
          <div *ngIf="item.confermato==0">
            <br> Pagamento: <br>
            <ion-icon name="close-circle-outline"></ion-icon>
          </div>
          <div *ngIf="item.confermato==1">
            <br> Pagamento: <br>
            <ion-icon name="checkmark-circle-outline"></ion-icon>
          </div>
        </ion-item>
      </div>
    </ion-card>
  </div>


  <div *ngIf="scadenze_data == null">
    <ion-card class="bg-white">
      <h5> Nessuna scadenza presente.</h5>
    </ion-card>
  </div>

</ion-content>